/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


// text sizes
.text-xs{
  font-size : 1rem;
}

.text-s{
  font-size : 2rem;
}